@import '../variables';

.project__sidebar {
	background: linear-gradient(48deg, #0b1328, black);
	height: 100vh;
	position: fixed;
	top: 61px;
	color: white;
	width: 250px;
	display: flex;
	flex-direction: column;
	transition: left 0.2s ease-in;
	padding: 18px;
	gap: 30px;

	.project__list {
		max-height: 70%;
		overflow: auto;

		p {
			cursor: pointer;
		}

		p.active {
			color: #4ea1ff;
			border-bottom: 1.5px solid #35669d;
		}

		p.inactive {
			transition: all 0.3s ease-in;

			&:hover {
				transform: scale(1.01);
				color: #4ea1ff !important;
			}

			&::after {
				background: #35669d;
				border-radius: 20px;
				content: '';
				display: block;
				height: 1.5px;
				transition: all 0.2s ease-in;
				width: 0;
			}

			&:hover::after {
				width: 100%;
			}
		}
	}

	.search {
		display: grid;
		grid-template-columns: 90% 10%;
		gap: 17px;
		width: 100%;

		.has-icon-right {
			input {
				height: 35px;
				padding: 10px;
				padding-right: 20px;
				border: 1.5px solid #30363d;
				border-radius: 5px;
				background: inherit;
				color: #c9d1d9;

				&:focus {
					border: 1.5px solid $lightgreen;
				}
			}

			.form-icon {
				height: 21px;
				margin: 0.1rem 0.25rem;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 21px;
				z-index: 2;
			}

			.icon-close {
				cursor: pointer;

				&::before {
					background: #ffeeeebd;
					height: 0.1rem;
					width: 88%;
				}

				&::after {
					background: #ffeeeebd;

					height: 88%;
					width: 0.1rem;
				}

				&::before,
				&::after {
					transform: translate(-50%, -50%) rotate(45deg);
				}
			}

			span {
				position: absolute;
				right: 0.8rem;
				top: 0.6rem;
			}
		}

		span {
			margin: auto;
			cursor: pointer;
			color: #ffeeeebd;
		}
	}
}

@media screen and (max-width: 500px) {
	.project__sidebar {
		top: 61px;
	}
}

@media screen and (max-height: 500px) {
	.project__sidebar {
		.project__list {
			padding-bottom: 30%;
		}
	}
}
