@import '../variables';
.project__sidebar {
	background: black;
	height: 100vh;
	position: fixed;
	top: 113px;
	color: white;
	width: 250px;
	display: flex;
	flex-direction: column;
	transition: left 0.2s ease-in;
	padding: 1.5rem;
	gap: 30px;

	.project__list {
		max-height: 70%;
		overflow: auto;
	}

	.search {
		display: grid;
		grid-template-columns: 90% 10%;
		gap: 23px;
		width: 100%;

		.has-icon-right {
			input {
				height: 35px;
				padding: 10px;
				padding-right: 20px;
				border: 1.5px solid #30363d;
				border-radius: 5px;
				background: inherit;
				color: #c9d1d9;
				&:focus {
					border: 1.5px solid $lightgreen;
				}
			}

			span {
				position: absolute;
				right: 0.8rem;
				top: 0.6rem;
			}
		}

		span {
			margin: auto;
			cursor: pointer;
			color: $lightgreen;
		}
	}
}

@media screen and (max-width: 500px) {
	.project__sidebar {
		top: 61px;
	}
}

@media screen and (max-height: 500px) {
	.project__sidebar {
		.project__list {
			padding-bottom: 30%;
		}
	}
}
