.boards-wrapper {
	padding: 1rem;
	display: flex;
	gap: 15px;
	overflow-x: scroll;
	margin: 150px 2px 40px 200px;
	transition: margin-left 0.2s ease-in;
	padding-bottom: 5rem;

	.board {
		padding: 1rem 0;
		min-height: 500px;
		height: max(350px, 100%);
		min-width: 350px;
		max-width: 350px;
		background: #050a15;
		border-radius: 5px;
		border: 1.5px solid #8ac9ff45;

		&:focus {
			border: 2px solid #58a6ff;
			box-shadow: 3px 4px 4px 3px rgb(32 19 113 / 34%);
		}

		.board__header {
			padding: 0.5rem 0.5rem;
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1.5px solid #2e5f96a1;

			.board__left {
				display: flex;
				gap: 7px;
				align-items: center;
				word-break: break-all;
				font-weight: 700;
				letter-spacing: 0.25px;

				.board__items-length {
					display: flex;
					align-items: center;
					justify-content: center;
					min-width: 20px;
					max-width: 50px;
					max-height: 50px;
					height: 20px;
					background-color: #2d3139;
					border-radius: 50%;
					font-size: 12px;
					font-weight: bold;
					overflow: hidden;
				}
			}

			.board__edit {
				display: flex;
				align-content: center;

				input {
					border: 1.5px solid #30363d;
					border-radius: 3px;
					background: inherit;
					padding: 0 0.3rem;
					height: 23px;
					color: #c9d1d9;

					&:focus {
						border: 2px solid #58a6ff;
						box-shadow: 3px 4px 4px 3px rgb(32 19 113 / 34%);
					}
				}

				.custom-icon {
					margin-top: 2px;
				}
			}

			.board__right {
				display: inline-flex;
			}
		}

		.board__tasks {
			margin: 10px 0;
			padding: 0 0.5rem;
		}
	}

	.board.add__new {
		background-color: transparent;
		border: 3.5px dotted #1a3846;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		flex-direction: column;
		gap: 30px;

		.title {
			cursor: pointer;
			display: flex;
			align-items: flex-end;
		}

		form {
			max-width: 70% !important;
		}
	}
}

@media screen and (max-width: 500px) {
	.boards-wrapper {
		margin-top: 80px;
	}
}
