@import '../variables';
$navTextColor: rgba(255, 255, 255, 0.75);

.navbar__wrapper {
	* {
		transition: 0.2s ease-in;
	}

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;

	.navbar {
		background: linear-gradient(348deg, #131121, black);
		padding: 0.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		height: max(62px, 62px);

		.display-owner {
			.card {
				box-shadow: 0 2px 5px 0 rgb(127 96 96 / 10%);
				background: #161b22;
				color: #ffffff;
			}
			width: max-content;
			text-align: center;
		}

		button:disabled {
			opacity: 0.4;
			pointer-events: none;
			background-color: darkslategray;
		}

		.username {
			font-weight: 500;
			letter-spacing: 1px;
			text-transform: capitalize;
			zoom: 1.1;
			color: rgb(255 255 255 / 84%);
		}

		.navbar__project-select {
			select {
				background-color: inherit;
				width: 150px;
				color: white;
				border: none;
				padding-bottom: 5px;
				margin-left: 10px;

				option {
					padding: 0.5rem;
					background-color: black;
				}
			}
		}

		.nav__buttons {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-items: center;

			span {
				font-size: 30px;
			}

			.text-light {
				color: rgb(237 254 255 / 70%) !important;
			}

			.new-project {
				span {
					font-size: inherit;
				}

				&:hover {
					@include primaryHover;
				}
			}

			button {
				color: $navTextColor;
				background: #0c8cab;
				height: 30px;
				border-radius: 5px;
				border: none;
				cursor: pointer;
				outline: none;
				padding-inline: 0.5rem;
				font-weight: 700;

				&:hover {
					color: #fff;
					transform: scale(1.023);
				}
			}
		}

		.custom-menu-container {
			position: relative;

			.custom-menu {
				position: absolute;
				top: 100%;
				margin: 8px 0 0 -31px;

				display: flex;
				flex-direction: column;
				align-content: center;
				justify-content: center;
				width: max-content;
				box-shadow: 0 2px 5px 0 rgb(127 96 96 / 10%);
				background: #161b22;
				color: #ffffff;
				padding: 0 10px;
				border-radius: 6px;
				border: none;
				cursor: pointer;

				opacity: 0;
				transform: scale(0);
				transition: all 0.2s ease-in-out;

				&.active {
					opacity: 1;
					transform: scale(1);
				}

				ul,
				li {
					margin: 10px 0;
					padding: 0;
					font-size: 14px;
				}

				ul li {
					list-style: none;
				}

				span {
					font-size: 16px !important;
				}
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.nav__buttons {
		button {
			margin: 0.5rem;
		}

		.nav__save_btn {
			display: flex;

			button {
				display: none;
			}
		}

		.more-options-menu {
			display: none;
		}
	}
}

@media screen and (max-width: 500px) {
	.navbar__wrapper {
		.nav__buttons {
			button {
				margin: 0.5rem 0.2rem 0.5rem 1rem;
			}

			.nav__save_btn {
				position: fixed;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				bottom: 0;
				right: 0;
				height: 55px;
				width: 100%;
				z-index: 1;
				background: linear-gradient(348deg, #131121, black);

				.save-icon {
					display: none;
				}

				button {
					display: block;
					background-color: #202429 !important;
					width: 60px;
					margin-right: 20px;
				}
			}

			.edit,
			.delete {
				display: none !important;
			}

			.more-options-menu {
				display: flex;
			}
		}
	}
}
