@import '../variables';
$navTextColor: rgba(255, 255, 255, 0.75);

.navbar__wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	.title {
		text-align: center;
		background: #09090a;
		padding: 1rem;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			color: white;
			line-height: 20px;
			font-size: 16px;
			letter-spacing: 2px;
			font-weight: 300;
			text-transform: capitalize;
		}
	}
	.navbar {
		background-color: #100e0e;
		padding: 0.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
		height: max(62px, 62px);
		button:disabled {
			opacity: 0.4;
			pointer-events: none;
			background-color: darkslategray;
		}

		.navbar__project-select {
			select {
				background-color: inherit;
				width: 150px;
				color: white;
				border: none;
				padding-bottom: 5px;
				margin-left: 10px;
				option {
					padding: 0.5rem;
					background-color: black;
				}
			}
		}
		.nav__buttons {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-items: center;
			span {
				font-size: 30px;
			}
			.text-light {
				color: #ffffff9e !important;
			}
			button {
				color: $navTextColor;
				background: $lightgreen;
				margin: 0.5rem;
				height: 30px;
				border-radius: 5px;
				border: none;
				cursor: pointer;
				outline: none;
				padding-inline: 0.5rem;
				font-weight: 700;
				&:hover {
					color: #fff;
					transform: scale(1.023);
				}
				&:nth-child(2) {
					background-color: #2ea043;
				}
			}
		}
		.custom-menu-container {
			position: relative;
			.custom-menu {
				position: absolute;
				top: 100%;
				margin: 8px 0 0 -31px;

				display: flex;
				flex-direction: column;
				align-content: center;
				justify-content: center;
				width: max-content;
				box-shadow: 0 2px 5px 0 rgb(127 96 96 / 10%);
				color: #ffffff;
				padding: 5px 10px;
				border-radius: 6px;
				border: none;
				background: #161b22;
				cursor: pointer;
				ul,
				li {
					margin: 0;
					padding: 0;
				}
				ul li {
					list-style: none;
				}
				span {
					font-size: 16px !important;
				}
			}
		}
	}
}

@media screen and (min-width: 500px) {
	.nav__buttons {
		.nav__save_btn {
			button {
				background-color: #202429;
				&:hover {
					background-color: #4f5359ab;
				}
			}
			button::after {
				content: ' changes';
			}
		}
	}
}

@media screen and (max-width: 500px) {
	.nav__buttons {
		.nav__save_btn {
			position: fixed;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			bottom: 0;
			right: 0;
			height: 10%;
			width: 100%;
			z-index: 1;
			background-color: black;
			button {
				background-color: #202429;
				width: 60px;
				margin-right: 20px;
			}
		}
	}
}
